<ul class="ext-nav">
    <li>
        <a href="/rss/" title="RSS feed">
            <i class="fas fa-fw fa-rss" aria-hidden="true"></i>
            <span class="ext-nav-label">RSS feed</span>
        </a>
    </li>
    <li>
        <a href="https://matrix.to/#/#flipdot:matrix.org" title="Unser Chat-Raum">
            <i class="fas fa-fw fa-hashtag" aria-hidden="true"></i>
            <span class="ext-nav-label">Unser Chat-Raum</span>
        </a>
    </li>
    <li>
        <a href="https://twitter.com/FlipDot_KS" title="flipdot bei Twitter">
            <i class="fab fa-fw fa-twitter" aria-hidden="true"></i>
            <span class="ext-nav-label">flipdot bei Twitter</span>
        </a>
    </li>
    <li>
        <a href="https://github.com/flipdot" title="flipdot bei GitHub">
            <i class="fab fa-fw fa-github" aria-hidden="true"></i>
            <span class="ext-nav-label">flipdot bei GitHub</span>
        </a>
    </li>
    <li>
        <a href="https://gitlab.com/flipdot" title="flipdot bei GitLab">
            <i class="fab fa-fw fa-gitlab" aria-hidden="true"></i>
            <span class="ext-nav-label">flipdot bei GitLab</span>
        </a>
    </li>
    <li>
        <a href="https://vimeo.com/flipdot" title="flipdot bei Vimeo">
            <i class="fab fa-fw fa-vimeo-v" aria-hidden="true"></i>
            <span class="ext-nav-label">flipdot bei Vimeo</span>
        </a>
    </li>
    <div class="header-dropdown-separator"></div>
    <input type="checkbox" id="space-status-checkbox" checked>
    <li class="space-status">
        <!-- TODO: noscript iframe fallback -->
        <label for="space-status-checkbox" title="Space-Status">
            <i id="space-status-icon" class="fas fa-fw fa-door-open" aria-hidden="true"></i>
            <span class="ext-nav-label">
                Space-Status: <span id="space-status-mobile-text"></span>
            </span>
        </label>
        <div id="space-status-tooltip">
            <div class="space-status-tooltip-inner">
                <div class="content"></div>
                <label for="space-status-checkbox" class="close-button" aria-hidden="true">
                    <i class="fas fa-times"></i>
                </label>
            </div>
        </div>
    </li>
</ul>
