<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta http-equiv="Content-Security-Policy" content="
    default-src 'self';
    connect-src 'self' https://api.flipdot.org;
    style-src 'self';
    frame-src 'self' https://www.youtube-nocookie.com https://player.vimeo.com
">

<title>{{#if title}}{{title}} - {{/if}}{{@site.title}}</title>

<!-- Disable automatic detection and formatting of possible phone numbers -->
<meta name="format-detection" content="telephone=no">

<link rel="stylesheet" href="{{asset "/css/normalize.css"}}">
<link rel="stylesheet" href="{{asset "/css/base.css"}}">
<link rel="stylesheet" href="{{asset "/css/header.css"}}">
<link rel="stylesheet" href="{{asset "/css/content.css"}}">
<link rel="stylesheet" href="{{asset "/css/footer.css"}}">
<link rel="stylesheet" href="{{asset "/css/font-awesome.min.css"}}">

<!-- No link to favicon.ico because browsers search for it in the root directory no matter what -->
<link rel="icon" href="{{asset "/img/favicon_16.png"}}" sizes="16x16">
<link rel="icon" href="{{asset "/img/favicon_24.png"}}" sizes="64x64">
<link rel="icon" href="{{asset "/img/favicon_32.png"}}" sizes="32x32">
<link rel="icon" href="{{asset "/img/favicon_48.png"}}" sizes="64x64">
<link rel="icon" href="{{asset "/img/favicon_64.png"}}" sizes="64x64">
<link rel="icon" href="{{asset "/img/favicon_96.png"}}" sizes="64x64">
<link rel="icon" href="{{asset "/img/favicon_128.png"}}" sizes="64x64">
<link rel="icon" href="{{asset "/img/favicon.svg"}}">

<link rel="alternate" href="/feed.xml" type="application/atom+xml" title="Blog Posts">

<script defer src="{{asset "/js/space_status.js"}}"></script>
