{{#if isSecondary}}
<ul class="footer-nav" role="menu">
    {{#foreach navigation}}
    <li class="{{link_class for=url}}" role="menuitem">
        <a href="{{url absolute="true"}}">{{label}}</a>
    </li>
    {{/foreach}}
</ul>
{{else}}
<ul class="site-nav" role="menu">
    {{#foreach navigation}}
    <li class="{{link_class for=url}}" role="menuitem">
        <a href="{{url absolute="true"}}">
            <i class="fas fa-fw fa-angle-double-right" aria-hidden="true"></i>
            {{label}}
        </a>
    </li>
    {{/foreach}}
</ul>
{{/if}}
