<header class="post-header">
    <h1 class="post-title">
        <a href="{{url}}">{{title}}</a>
        <time datetime="{{date format='YYYY-MM-DD'}}">
            {{date format='DD.MM.YYYY'}}
        </time>
    </h1>
</header>
