<header class="site-header">
    <div class="title">
        <a href="/">{{> logo}}</a>
    </div>
    <input id="header-dropdown-checkbox" type="checkbox">
    <label for="header-dropdown-checkbox" class="header-dropdown-button">
        <i class="fas fa-bars" aria-hidden="true"></i>
    </label>
    <label for="header-dropdown-checkbox" class="page-overlay"></label>
    <div class="header-dropdown-contents">
        {{navigation}}
        <div class="header-dropdown-separator"></div>
        {{> ext-navigation}}
    </div>
</header>
<div class="site-header-separator"></div>
