:root {
    /* Yellow from flipdot logo */
    --flipdot-yellow: #f5c600;

    /* Black from flipdot logo */
    --flipdot-black: #231f20;

    /* A dark grey tone */
    --dark-grey: #463e41;

    /* A grey tone for de-emphasized text */
    --text-grey: #74676a;

    /* A grey tone for contrast with the otherwise white background */
    --bg-grey: #eaeaea;

    /* Lighter yellow than --flipdot-yellow */
    --light-yellow: #ffd835;

    /* Lighter yellow than --light-yellow */
    --lighter-yellow: #ffe060;

    --max-content-width: 768px;
}

@font-face {
    font-family: 'ISOCPEUR';
    src: url('/assets/webfonts/isocpeur.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/webfonts/OpenSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/webfonts/OpenSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/webfonts/OpenSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/webfonts/OpenSans-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Change CSS' stupid default box sizing model
   See https://css-tricks.com/box-sizing/ */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
}

body {
    /* Make absolute elements with no other positioned parent relative to the
       full body, rather than the initial viewport. */
    position: relative;

    display: flex;
    flex-direction: column;
    min-height: 100%;

    line-height: 1.4;
    font-family: 'OpenSans';
    background-color: #fff;
    color: var(--flipdot-black);
}

strong {
    /* Bold sucks, semi-bold is large enough */
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'ISOCPEUR';
    font-weight: 400;

    line-height: 1.2;

    /* ISOCPEUR glyphs have whitespace below, but not above. Work around this by
       moving the whole tag down a little. TODO: Change the font instead of
       working around its brokenness in CSS. */
    position: relative;
    top: .1em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
}

a {
    /* Get rid of default link colorization */
    color: inherit;

    /* Yellow underline */
    text-decoration-color: var(--flipdot-yellow);

    transition: all .2s;
}

a:hover {
    color: var(--text-grey);
}

ul, ol {
    /* Default indentation is quite large, reduce it. */
    padding-left: 1.8em;
}

.pagination {
    margin: .5em auto;
}

.pagination a {
    padding: .4em .7em;
    text-decoration: none;
    background-color: var(--lighter-yellow);
}

.pagination a:hover {
    color: inherit;
    background-color: var(--light-yellow);
}

.page-number {
    margin: 0 .6em;
}

.kg-width-wide {}

.kg-width-full {}

.kg-gallery-container {}
.kg-gallery-row {}
.kg-gallery-image {}

.kg-bookmark-card {}
.kg-bookmark-icon {}
.kg-bookmark-container {}
.kg-bookmark-title {}
.kg-bookmark-description {}
.kg-bookmark-content {}
.kg-bookmark-metadata {}
.kg-bookmark-author {}
.kg-bookmark-publisher {}
.kg-bookmark-thumbnail {}
